; Backend (тут)

SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

; Frontend (копировать в frontend/.env)

VITE_API_URL=http://localhost:8000/api/v1
VITE_ACCESS_TOKEN_EXPIRE_MINUTES=30 ;брать значение из ACCESS_TOKEN_EXPIRE_MINUTES
VITE_REFRESH_TOKEN_EXPIRE_DAYS=7 ;брать значение из REFRESH_TOKEN_EXPIRE_DAYS